.pos .ribbon {
    position: initial;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    text-align: right;
}

.pos .ribbon span {
    font-size: 10px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(-45deg);
    width: 127px;
    display: block;
    background: linear-gradient(#FF5722 0%, #F44336 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 22px;
    left: -35px
}

.pos .ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #F44336;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #F44336;
}

.pos .ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #F44336;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #F44336;
}